
[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	
}
.wrapper{	
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}


.wrapper > main{
	flex: 1 0 auto;
	
}

body{
	font-family: 'CircularStd';
	font-size: 20px;
	color: #313131;
}
/* =========================================header====================================================== */

.header {
	padding: 30px 0px;
	z-index: 100;
}

.header__container {
	max-width: 1310px;
	margin: 0px auto;
	position: relative;
}

.header__menu {
	display: flex;
	position: absolute;
	width: 100%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 203px;
}

.menu__icon{
	flex-grow: 1; 
}
.menu__icon a{
	font-weight: 700;
	font-size: 25px;
	line-height: 32px;
	letter-spacing: -0.06em;
	color: #313131;
}

.menu__body {
	
}

.menu__list {
	display: flex;
	row-gap: 10px;
	column-gap: 50px;
	flex-wrap: wrap;
}


.menu__item {
	font-weight: 450;
	font-size: 17px;
	line-height: 22px;
	position: relative;
} 
.menu__item:hover.menu__item::after{
	opacity: 1;
	visibility: visible;
	transform: translateX(102%);
	transition: all 0.3s ease 0s;
}
.menu__item:hover.menu__item::before{
	opacity: 1;
	visibility: visible;
	transform: translateX(-102%);
	transition: all 0.3s ease 0s;
}

.menu__item::after{
	content: '';
	display: block;
	width: 50%;
	height: 2px;
	background-color: #313131;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	position: absolute;
	right: 100%;
}
.menu__item::before{
	content: '';
	display: block;
	width: 50%;
	height: 2px;
	background-color: #313131;
	position: absolute;
	top: 22px;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.menu__link {
	color: #313131;
}

.menu__button {
	display: flex;
	flex-shrink: 1;
}

.button {
	
}

.button--white {
	display: block;
	background-color: transparent;
	color:#313131 ;
	padding: 20px 40px;
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}
.button--white:hover{
	display: block;
	background-color: #313131;
	color: #FFFFFF;
	padding: 20px 40px;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}

.button--black {
	display: inline-block;
	background-color: #313131;
	color: #FFFFFF;
	padding: 20px 40px;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}
/* ==========================main=================== */

.main {}

.main__container {}

/* ================================health===================================== */

.health {
	padding: 315px 0px 0px 0px;
}

.health__body {
	display: flex;
	position: relative;
}

.health__content {}

.health__title {
	font-weight: 900;
	font-size: 100px;
}
.health__title span{
	display: inline-block;
	border: 1px solid #313131;
	color: transparent;
}
.health__subtitle {}

.health__text {}

.health__form {}

.health__string {}

.health__button {}

.button--black {}

.health__img {
	position: absolute;
	right: 10%;
	top: -200%;
	overflow: hidden;
}

.health__dekor-1 {}

.health__dekor-2 {}