
[class*="__container"] {
	max-width: 1230px;
	margin: 0px auto;
	
}
.wrapper{	
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}


.wrapper > main{
	flex: 1 0 auto;
	padding: 0px 15px;
}

body{
	font-family: 'CircularStd';
	font-size: 20px;
	color: #313131;
}
/* =========================================header====================================================== */

.header {
	padding: 30px 15px;
	z-index: 100;
}

.header__container {
	max-width: 1340px;
	margin: 0px auto;
	position: relative;
}

.header__menu {
	display: flex;
	position: absolute;
	width: 100%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 203px;
}

.menu__icon{
	flex-grow: 1; 
}
.menu__icon a{
	font-weight: 700;
	font-size: 25px;
	line-height: 32px;
	letter-spacing: -0.06em;
	color: #313131;
}

.menu__body {
	
}

.menu__list {
	display: flex;
	row-gap: 10px;
	column-gap: 50px;
	flex-wrap: wrap;
}


.menu__item {
	font-weight: 450;
	font-size: 17px;
	line-height: 22px;
	position: relative;
} 
.menu__item:hover.menu__item::after{
	opacity: 1;
	visibility: visible;
	transform: translateX(102%);
	transition: all 0.3s ease 0s;
}
.menu__item:hover.menu__item::before{
	opacity: 1;
	visibility: visible;
	transform: translateX(-102%);
	transition: all 0.3s ease 0s;
}

.menu__item::after{
	content: '';
	display: block;
	width: 50%;
	height: 2px;
	background-color: #313131;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	position: absolute;
	right: 100%;
}
.menu__item::before{
	content: '';
	display: block;
	width: 50%;
	height: 2px;
	background-color: #313131;
	position: absolute;
	top: 22px;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.menu__link {
	color: #313131;
}

.menu__button {
	display: flex;
	flex-shrink: 1;
}

.button {
	
}

.button--white {
	display: block;
	background-color: transparent;
	color:#313131 ;
	padding: 20px 40px;
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}
.button--white:hover{
	display: block;
	background-color: #313131;
	color: #FFFFFF;
	padding: 20px 40px;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}

.button--black {
	display: inline-block;
	background-color: #313131;
	color: #FFFFFF;
	padding: 20px 40px;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
	transition: all 0.8s ease 0s;
}
/* ==========================main=================== */

.main {}

.main__container {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 140px;
}

/* ================================health===================================== */

.health {
	padding: 315px 0px 0px 0px;
}

.health__body {
	display: flex;
	position: relative;
}

.health__content {
	position: relative;
}

.health__title {
	font-weight: 900;
	font-size: 100px;
	margin: 0px 0px 110px 0px;
	position: relative;
}
.health__title::after{
	content: "";
	display: block;
	width: 90px;
	height: 101px;
	background: url('../img/health/&.svg') 0 0 / 100% no-repeat;
	position: absolute;
	top: 55px;
	left: 7px;
}
.health__title span{
	display: inline-block;
	position: absolute;
	top: 80px;
	left: 70px;
}
.health__subtitle {
	font-weight: 700;
	line-height: 1.25;
	margin: 0px 0px 30px 0px;
}

.health__text {
	line-height: 1.25;
	max-width: 450px;
	margin: 0px 0px 65px 0px;
}

.health__form {
	margin: 0px 0px 160px 0px;
	display: flex;
	flex: 1 1 520px;
	flex-wrap: wrap;
}

.health__string {
	border: 1px solid #313131;
	flex: 1 1 50%;
	border-radius:5px 0 0 5px;
	min-height: 50px;
	font-size: 20px;
	padding: 0px 0px 0px 17px;
	transition: all 0.3s ease 0s;
}
.health__string::placeholder{
	color: rgba(0, 0, 0, 0.2);
	line-height: 1.3;
	font-size: 15px;
}
.health__string:focus{
	box-shadow: 5px 5px 15px #313131 inset;
	transition: all 0.3s ease 0s;
}

.health__button {
	display: inline-block;
	background-color: #313131;
	color: #FFFFFF;
	min-height: 50px;
	
	border-radius:0 5px 5px 0;
	transition: all 0.3s ease 0s;
	flex: 0 1 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.health__button:hover{
	box-shadow: 3px -5px 15px #313131;
	transition: all 0.3s ease 0s;
}


.health__image{
	position: relative;
}
.health__image img{
	position: absolute;
	left: 80px;
	top: -300px;
	overflow: hidden;
	max-width: 565px;
	min-height: 915px;
	z-index: 10;
}
.health__image::after{
	content: "";
	display: block;
	position: absolute;
	top: -45px;
	left: 100px;
	width: 500px;
	height: 660px;
	background: #FFE600;
	border-radius: 250px 250px 0px 0px;
}
.health__image::before{
	content: "";
	display: block;
	position: absolute;
	top: -400px;
	left: 100px;
	width: 500px;
	height: 660px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 250px 250px 0px 0px;
	transform: rotate(-180deg);
}
/* ============================================partners============================ */

.partners {
	display: flex;
	gap: 90px;
}

.partners__label {
	flex: 0 0 500px;
}

.label {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.label__title {
	font-size: 65px;
	line-height: 1.26;
}

.label__text {
	font-size: 20px;
	line-height: 1.25;
	color: #5F5F5F;
}

.partners__row {
	flex-grow: 1;
	display: flex;
	margin: 0px -20px;
	row-gap: 40px;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.partners__column {
	padding: 0px 20px;
	display: flex;
	flex: 0 1 50%;

}

.partners__item{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 108px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
	border-radius: 10px;
	flex: 1 1 100%;
	transition: all 0.5s ease 0s;
}

.partners__item img{
	max-width: 230px;
	max-height: 80px;
}
.partners__item:hover {
	box-shadow: 5px 5px 5px #313131;
	transition: all 0.5s ease 0s;
}

.partners__image {}

/* =================================about-us======================================== */
.about-us {
	position: relative;
}

.about-us__label {
	max-width: 500px;
	margin: 0px 0px 155px 0px;

}

.about-us__body{
	position: relative;
	z-index: 1;
	display: flex;
	
}
.about-us__content{
	margin: 0px 0px;
	display: flex;
	z-index: 12;
	flex-wrap: wrap;
}
.about-us__column{
	flex: 1 0 50%;
	padding: 0px 0px;
	max-height: 750px;
}
.about-us__body::before {
	content: '';
	display: block;
	background: rgba(255, 230, 0, 0.1);
	border-radius: 0px 300px 0px 0px;
	position: absolute;
	width: 2000px;
	height: 1436px;
	transform: translate(-900px,0px);
	
}
.about-us__column:nth-child(2){
	position: relative;
	top: 50px;
	left: -30px;
	max-height: 350px;
	overflow: auto;
}
.about-us__column:nth-child(3){
	overflow: auto;
}
.about-us__column:nth-child(2) .label__text{
	max-width:420px ;
}

.about-us__image--1 img{
	max-width: 510px;
	min-height: 680px;
}
.about-us__image--2 img{
	max-width: 590px;
	min-height: 910px;
}
.about-us__image--1{
	position: relative;
	top: -85px;
}
.about-us__image--1::after{
	content: '';
	display: block;
	position: absolute;
	width: 509px;
	height: 676px;
	left: -26px;
	top: 22px;
	border: 1px solid #313131;
	border-radius: 200px 0px 0px 0px;
}
.about-us__image--2{
	position: relative;
	top: -280px;
}
.about-us__image--2::after {
	content: '';
	display: block;
	position: absolute;
	width: 586px;
	height: 905px;
	left: -26px;
	top: 22px;
	border: 1px solid #313131;
	border-radius: 0px 0px 200px 0px;
}


.about-us__label > .label__text {
	color: #5F5F5F;
	
}

.about-us__text {
max-width: 510px;
}
/* =====================================how======================================== */

.how {}

.how__body {
	display: flex;
	margin: 0px -52px;
}

.how__column {
	padding: 0px 52px;
	flex: 1 1 50%;
	position: relative;
}

.how__label{
	margin: 0px 0px 40px 0px;
}

.how__button {
	display: flex;
}
.how__button>.button--white{
	margin: 0px 30px 0px 0px;
}

.button {}

.button--white {}

.button--black {}

.button--border {
	border: 1px solid #313131;
	border-radius: 5px;
}

.how__content{
	position: relative;
}
.how__title {
	font-weight: 700;
	font-size: 18px;
	color: rgba(49, 49, 49, 0.88);
	position: relative;
	cursor: pointer;
	padding: 40px 35px ;
	box-shadow: none;
}
.how__title::before{
	content: "";
	display: block;
	border: 1px solid rgba(49, 49, 49, 0.8);
	border-radius: 20px;
	width: 30px;
	height: 1px;
	position: absolute;
	top: 40px;
	left: 90%;
}
 .how__plus{
	display: block;
	border: 1px solid rgba(49, 49, 49, 0.8);
	border-radius: 20px;
	width: 30px;
	height: 1px;
	position: absolute;
	top: 40px;
	left: 90%;
	transform: rotate(-90deg);
} 
.how__content{
	background: #FFFFFF;
	border-radius: 10px;
	
	
}
.how__content:not(:last-child){
margin: 0px 0px 30px 0px;
}
.how__text {
	font-size: 18px;
	line-height: 1.27;
	color: #5F5F5F;
	box-shadow: 0px 0px 95px rgba(201, 203, 204, 0.3);
	padding: 0px 35px 50px 35px;
}
.how__hidden{
	display: none;
	box-shadow: none;
}
.how__box-shadow{
box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
border-radius: 10px;
}

/* ==============================================updated========================== */
.updated {}

.updated__title{
	max-width: 660px;
	margin: 0px 0px 90px 0px;
}
.updated__row {
	display: flex;
	margin: 0px -12px;
	flex-wrap: wrap;
	row-gap: 89px;
}

.updated__column {
	flex: 1 1 50%;
	display: flex;
	padding: 0px 12px;
}
.updated__content{
	background: #FFFFFF;
	box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
	padding: 0px 40px;
	display: flex;
	
	flex-direction: column;
	row-gap: 30px;
}
.updated__image {
	text-align: center;
}
.updated__image img{
max-width: 460px;
margin: -30px 0px 0px 0px;
}

.updated__prefix {
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #FF5F5F;
	min-height: 30px;
}

.updated__subtitle {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.3;
	color: rgba(49, 49, 49, 0.88);
	margin: 0px 0px 50px 0px;
	flex: 1 1 100%;
}

.updated__text-container {
	background: #EEF7FB;
	backdrop-filter: blur(50px);
	max-width: 450px;
	margin: 0px auto;
	padding: 30px 30px 45px 30px ;
	transform: translate(0px,35px);
}

.updated__text {
	font-size: 18px;
	line-height: 1.27;
	color: #5F5F5F;
}

/* ==========================================faqs================================= */

.faqs {}

.faqs__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.faqs__subtitle{
	text-align: center;
	margin: 0px 0px 60px 0px;
}

.faqs__back {
	background: rgba(255, 230, 0, 0.1);
	min-width: 5000px;
	transform: translate(-1880px,0px);
}
.faqs__container{
	padding: 90px 0px;
}
.faqs__row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 30px;
	margin: 0px -15px;
}

.faqs__column {
	display: flex;
	flex: 0 1 50%;
	padding: 0px 15px;
}

.faqs__body {
	display: flex;
	flex-direction: column;
	row-gap: 35px;
	padding: 25px 30px 35px;
	font-size: 18px;
	line-height: 1.3;
	background: #FFFFFF;
	border: 1px solid #F8F9FC;
	box-shadow: 0px 20px 40px rgba(141, 147, 201, 0.08);
	border-radius: 10px;
}

.faqs__label {
	font-weight: 700;
	color: rgba(49, 49, 49, 0.88);
}

.faqs__text {
	color: #5F5F5F;
}

/* =======================================customes================================ */

.customes {
	position: relative;
}

.customes__title {
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.customes__subtitle {
	text-align: center;
	margin: 0px 0px 225px 0px;
}
.customes__row {
	display: flex;
}

.customes__column {}
.customes__column:first-child {
	margin: 0px 0px 0px 70px;
}

.customes__body {}

.customes__label {
	font-weight: 700;
	font-size: 34px;
	line-height: 1.3;
	color: rgba(49, 49, 49, 0.88);
	margin: 0px 0px 20px 0px;
}

.customes__text {
	font-size: 18px;
	line-height: 1.56;
	color: #5F5F5F;
	margin: 0px 0px 60px 0px;
	max-width: 510px;
}

.customes__stars {
	margin: 0px 0px 40px 0px;
	width: 25px;
	height: 25px;
	display: flex;
	gap: 5px;
}

.customes__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3;
	color: rgba(49, 49, 49, 0.88);
	margin: 0px 0px 5px 0px;
}

.customes__job {
	font-size: 18px;
	line-height: 1.27;
	color: #B8B8B8;
	margin: 0px 0px 280px 0px;
}

.customes__image {
	position: absolute;
	top: 200px;
	left: 60%;
}
.customes__image img{
	position: relative;
	z-index: 11;
	max-width: 400px;
	min-height: 675px;
}
.customes__image::before{
	content: '';
	display: block;
	position: absolute;
	width: 468px;
	height: 560px;
	left: -40px;
	top: 115px;
	background: rgba(255, 230, 0, 0.1);
	border-radius: 234px 234px 0px 0px;
}
/* ==========================================decor================================ */
.dekor-1 {
	position: absolute;
	background: url('../img/decor/01.svg') 0 0 no-repeat;
	width: 566px;
	height: 317px;
	left: 250px;
	top: 110px;
}

.dekor-2 {
	position: absolute;
	background: url('../img/decor/02.svg') 0 0 no-repeat;
	width: 829px;
	height: 810px;
	left: 826px;
	top: 20px;
	
}
.dekor-3 {
	position: absolute;
	background: url('../img/decor/dots.svg') 0 0 no-repeat;
	width: 160px;
	height: 184px;
	left: -150px;
	top: 1380px;
	
} 
.dekor-4 {
	position: absolute;
	background: url('../img/decor/dots.svg') 0 0 no-repeat;
	width: 160px;
	height: 184px;
	left: -150px;
	top: 3310px;
}
.dekor-5 {
	position: absolute;
	background: url('../img/decor/dots.svg') 0 0 no-repeat;
	width: 160px;
	height: 184px;
	left: 1310px;
	top: 3900px;
}
.how__decor::before{
	content: '';
	display: block;
	position: absolute;
	border: 1px solid #E0E0E0;
	width: 0px;
	height: 100%;
	left: 0px;
	top: 0px;
} 

/* ====================================footer==================================== */

.footer {
	background: #313131;
	padding: 175px 0px 0px 0px;
}

.footer__container {
	max-width: 1050px;
	margin: 0px auto;
}

.footer__title {
	font-size: 65px;
	line-height: 1.26;
	text-align: center;
	color: #FFFFFF;
	max-width: 500px;
	margin: 0px auto;
	margin-bottom: 50px;
}

.footer__actions {
	margin: 0px 0px 200px 0px;
	display: flex;
	justify-content:center;align-items: center;
	gap: 20px;
}

.footer__input {
	width: 420px;
	font-size: 30px;
	background-color: transparent;
	color: #FFFFFF;
	border-bottom: 1px solid #E0E0E0;
	padding: 10px 20px;
}
.footer__input::placeholder{
	font-size: 20px;
	line-height: 1.27;
	color: rgba(224, 224, 224, 0.5);
	position: absolute;
	top: 5px;
	padding: 0px 0px 0px 10px;
}

.footer__button {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 20px 45px;
	color: #313131;
	transition: all 0.3s ease 0s;
}
.footer__button:hover{
	box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.5);
}

.footer__row {
	display: flex;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28;
	flex-wrap: wrap;
	margin: 0px 0px 75px 0px;
}

.footer__columns {
	display: flex;
	flex: 1 1 50%;
	gap: 200px;
}
.footer__column-right {
flex: 0 1 200px;
}
.footer__column-left {

}

.footer__logo {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.28;
	letter-spacing: -0.06em;
	margin: 0px 0px 30px 0px;
}

.footer__text {}


.footer__column-left {}

.column-left-footer {}

.column-left-footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -50px;
}

.column-left-footer__column {
	flex: 1 1 33.333%;
	padding: 0px 50px;

}
.column-left-footer__content{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.column-left-footer__title {
	font-size: 20px;
	line-height: 1.25;
}

.column-left-footer__list {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.column-left-footer__item {}

.column-left-footer__link {
	display: inline-block;
	color: #FFFFFF;
	transition: all 0.3s ease 0s;
}

.column-left-footer__link:hover{
	transform: scale(1.1);
}
.footer__subtitle{
	text-align: center;
	font-size: 20px;
	line-height: 1.25;
	color: #FFFFFF;
}